@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
   
      url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {

font-family: 'Myriad Pro Regular';

font-style: normal;

font-weight: normal;

src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
}



@font-face {

font-family: 'Myriad Pro Condensed';

font-style: normal;

font-weight: normal;

src: local('Myriad Pro Condensed'), url('MYRIADPRO-COND.woff') format('woff');
}




@font-face {

font-family: 'Myriad Pro Regular';

font-style: normal;

font-weight: normal;

src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.otf') format('otf');
}



@font-face {

font-family: 'Myriad Pro Condensed';

font-style: normal;

font-weight: normal;

src: local('Myriad Pro Condensed'), url('MYRIADPRO-COND.otf') format('otf');
}

